In [2]:
import pandas as pd

In [3]:
import requests
r = requests.get('http://universities.hipolabs.com/search?country=United+States')

In [4]:
import json
data_to_json = r.json()
df = pd.read_json(json.dumps(data_to_json))

In [6]:
df.head()

,alpha_two_code,web_pages,state-province,name,domains,country
0,US,[http://www.marywood.edu],None,Marywood University,[marywood.edu],United States
1,US,[http://www.lindenwood.edu/],None,Lindenwood University,[lindenwood.edu],United States
2,US,[https://sullivan.edu/],None,Sullivan University,[sullivan.edu],United States
3,US,[https://www.fscj.edu/],None,Florida State College at Jacksonville,[fscj.edu],United States
4,US,[https://www.xavier.edu/],None,Xavier University,[xavier.edu],United States

In [7]:
df.tail()

,alpha_two_code,web_pages,state-province,name,domains,country
2211,US,[https://bellevuecollege.edu],Washington,Bellevue College,[bellevuecollege.edu],United States
2212,US,[https://www.lehman.cuny.edu/],"New York, NY",CUNY Lehman College,[lehman.cuny.edu],United States
2213,US,[https://www.jjay.cuny.edu/],"New York, NY",CUNY John Jay College of Criminal Justice,[jjay.cuny.edu],United States
2214,US,[https://hunter.cuny.edu/],"New York, NY",CUNY Hunter College,[hunter.cuny.edu],United States
2215,US,[https://www.york.cuny.edu/],"New York, NY",CUNY York College,[york.cuny.edu],United States

In [5]:
df.to_csv('save_data.csv')

In [8]:
!head -10 save_data.csv

,alpha_two_code,web_pages,state-province,name,domains,country
0,US,['http://www.marywood.edu'],,Marywood University,['marywood.edu'],United States
1,US,['http://www.lindenwood.edu/'],,Lindenwood University,['lindenwood.edu'],United States
2,US,['https://sullivan.edu/'],,Sullivan University,['sullivan.edu'],United States
3,US,['https://www.fscj.edu/'],,Florida State College at Jacksonville,['fscj.edu'],United States
4,US,['https://www.xavier.edu/'],,Xavier University,['xavier.edu'],United States
5,US,['https://home.tusculum.edu/'],,Tusculum College,['tusculum.edu'],United States
6,US,['https://cst.edu/'],,Claremont School of Theology,['cst.edu'],United States
7,US,['https://www.columbiasc.edu/'],,Columbia College (SC),['columbiasc.edu'],United States
8,US,['http://www.clpccd.edu/'],,Chabot-Las Positas Community College District,['clpccd.edu'],United States